@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500;900&family=Rubik+Mono+One&family=Open+Sans:wght@300;400;600&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

a {
    color: black;
}

.container {
    --red: #ea1f22;
    max-width: 1100px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 20px;
    min-height: 100vh;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.section-header {
    font-family: 'Rubik Mono One', sans-serif;
    color: var(--red);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}

.section-header:not(.info-header) {
    margin-top: 60px;
}

.name {
    font-size: 50px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.name span {
    font-family: 'Rubik Mono One', sans-serif;
}

.main-header h1, .main-header h3 {
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
}

.main-header h3 {
    font-weight: 400;
}


.navigation {
    display: flex;
    gap: 20px;
}

.nav-item {
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    border-bottom: 4px solid black;
    transition: border-bottom .5s linear;
}

.main {
    margin-top: 60px;
}

.about-section {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.photo {
    width: 400px;
    max-width: 400px;
    height: auto;
}

.info-header {
    position: absolute;
    left: -130px;
    top: 50px;
}

.info-section {
    position: relative;
}

.info {
    font-family: serif;
    color: var(--red);
    font-size: 20px;
    margin-top: 150px;
    font-weight: 600;
    max-width: 550px;
    letter-spacing: 1.2px;
}

.skills-list {
    list-style: none;
}

.wrapper {
    padding: 40px;
}

.section-content {
    padding-left: 30px;
    margin-top: 20px;
}

.skills-list {
    margin: 0;
    padding-left: 1.2rem;
}

.skills-item {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .skills-item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #41e271;
    transform-origin: bottom left;
    transform: rotate(45deg);
}


.project-link {
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    margin: 10px;
    display: block;
    width: 130px;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    font-size: 20px;
    
}

.project-link:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-name {
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
}

.project-description {
    margin: 30px 0;
}

.project-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: end;
}

.project-item:first-child {
    margin-bottom: 60px;
}

.project-description p {
    margin-top: 10px;
}

.mario-img {
    background: no-repeat url("assets/mario.png");    
}

.tasks-img {
    background: no-repeat url("assets/tasks.png");
}

.project-img {
    width: 400px;
    background-size: contain;
}

.bold {
    font-weight: bold;
}

.education-list {
    list-style: none;
}

.prev-experience-list {
    list-style: none;
    padding-left: 20px;
    margin: 20px 0;
}